<div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info"><i class="fa fa-align-left"></i><span></span></button>
<div class="container">
   <div class="card shadow mb-4">
    <div class="card-img-left d-none d-md-flex"></div>
      <div class="card-header py-3">
      <%- model_class = Maintenance -%>
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Schedule</h1>
      </div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @maintenance.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:starting_date) %>:</strong></dt>
  <dd><%= @maintenance.starting_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @maintenance.description %></dd>
</dl>

 <p><strong>Compulsory Tasks:</strong></p>
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Name</th>
      <th>Estimated Time (mins)</th>
      <th>Tool Kit</th>
      <th>Every</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.minutes %></td>
        <td><%= task.tool_id %></td>
        <td><%= task.schedule %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to t('.back', :default => t("helpers.links.back")), maintenances_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_maintenance_path(@maintenance), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              maintenance_path(@maintenance),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      </div>
    </div>
</div>
</div>