          <div class="collapse" id="myself">
            <div class="portfolio-resume row"  >
              <div class="large-8 columns">
                <div class="portfolio-resume-wrapper">

                  <div class="col-md-4">
                    <%#= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                    <%= link_to "Dissecting Rails 5", root_path %>
                  </div>
                  <div class="col-md-4">
                    <%#= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                    <%= link_to "Dissecting Rails 5", root_path %>
                  </div>
                  <div class="col-md-4">
                    <%#= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                    <%#= link_to "Dissecting Rails 5", root_path %>
                  </div>

                </div>
                <div class="portfolio-resume-wrapper">
                  Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                  <%#= image_tag 'about/courses_rails_5.jpg', width: '100%' %>
                  <%= link_to "Dissecting Rails 5", root_path %>
                </div>
                <div class="portfolio-resume-wrapper">
                    Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                  <%#= image_tag 'about/courses_ts.jpg', width: '100%' %>
                  <%= link_to "TypeScript Development", "https://www.udemy.com/introduction-typescript-development/", target: '_blank' %>
                </div>
                <div class="portfolio-resume-wrapper">

                  Currently in Graduate School in the Texas Tech University Computer Science program studying machine learning.
                  <%= link_to "Comprehensive Ruby", "https://www.udemy.com/comprehensive-ruby-programming-tutorial/", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
