<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Edwards Maintenane System" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%#= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>


  </head>
      <body class= "text-center">   

        <header>
                <%#= render 'shared/multilevel_nav' %>       
                <%= render 'shared/navmob' %>
                <%#= render 'shared/navzurb' %>
        </header>
    <section class="marketing-site-three-up">

          <%= yield %>
        
    </section>
    <section class="marketing-site-three-up">
      
            <%= render partial: 'shared/footer' %>
      
      </section>
        
             
  </body>
</html>
