<!DOCTYPE html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">


    <title><%= content_for?(:title) ? yield(:title) : "My personal page" %></title>
<meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    </head>

      <body > 
        <%= video_tag(
              'Squirel.mp4',
              id: 'background',
              autoplay: true,
              loop: true,
              muted: true,
              
            )
            %>
    <%#= render 'shared/portfolio-hero-header' background: image-url('home_bg.png') no-repeat; poster: 'home_bg.png'style="overflow:hidden;"%>
    <%= render 'shared/navtop'%>
      <div class="row">

      <%= yield %>
    
     </div>
     <%#= render partial: 'shared/social-footer' %> 
  </body>

</html>
