<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width-device-width", initial-scale=12, shrink-to-fit=>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'service', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'service', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cocoon' %>
      
    
</head>

      <body class= "text-center">   
        <div class="wrapper"> 
  
          <%= render "shared/dashboard_sidebar" %>

          <%= yield %>
        </div>
      </body>
        <!-- Footer -->
 </html>
